@font-face {
  font-family: "Gumela";
  src: url("./assets/fonts/Gumela\ Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gumela";
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
